@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

.container {
    width: 640px;
    height: 470px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 470px;
    flex-wrap: wrap;
}

.top {
    background-color: white;
    padding: 30px 0px 30px 30px;
    height: 45%;
    align-self: stretch;
    border-radius: 10px 10px 0px 0px;
    h2 {
        color: $cyan;
        font-weight: 700;
        padding-bottom: 10px;
    }
    h3 {
        color: $bright-yellow;
        font-weight: 700;
        padding-bottom: 10px;
    }
    p {
        color: $grayish-blue;
        font-weight: 400;
        line-height: 30px;
    }
}

.bottom {
    align-self: stretch;
    background: linear-gradient(to right, $cyan 50%, rgb(74, 180, 189) 50%);
    border-radius: 0px 0px 10px 10px;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.left {
    padding: 30px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    margin: -2% 0 0 -15%;
    min-width: 235px;
    max-width: 235px;
    flex-basis: 95%;
    justify-content: space-evenly;
    height: 100%;
    h6 {
        color: white;
        font-weight: 400;
        padding-bottom: 10px;
    }
    h1 {
        color: white;
        padding-bottom: 10px;
        font-weight: 700;
    }
    h3 {
        color: white;
        padding-bottom: 10px;
        font-weight: 700;
    }
    p {
        padding-bottom: 10px;
        color: $light-gray;
        font-weight: 400;
    }
    .btn {
        background-color: $bright-yellow;
        border-radius: 5px;
        height: 50px;
        margin: 0 25%;
        width: 200px;
        border: none;
        color: white;
        box-shadow: 5px 10px 10px -10px black;
    }
}

.right {
    padding: 15px 0px 0px 40px;
    min-width: 250px;
    max-width: 250px;
    margin-left: 20px;
    flex-basis: 95%;
    h3 {
        font-weight: 700;
        color: white;
        padding: 15px 0px;
    }
    ul {
        list-style: none;
        color: white;
    }
    .li-item {
        padding-bottom: 5px;
        color: $light-gray;
    }
}

@media screen and (max-width: 652px) {
    .container {
        width: initial;
        height: initial;
    }

    .card {
        width: initial;
        height: initial;
    }
    .left {
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px -20px;
        width: 100%;
        .btn {
            width: 100%;
        }
    }
    .right {
        padding: 0px 0px 0px 0px;
    }
}
@media screen and (max-width: 582px) {
    .bottom {
        background: linear-gradient(to bottom, $cyan 50%, rgb(74, 180, 189) 50%);
        flex-wrap: nowrap;
        flex-direction: column;
        align-self: stretch;
    }
    .left {
        padding: 20px;
        margin: 0px;
        flex:1 1 auto;
        .btn {
            margin: 0 auto;
        }
    }
    .right {
        padding: 20px;
        margin: 0px;
    }
}
